@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

/* RESET DO CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    background-color: rgb(207, 117, 164);
    color: rgb(158, 14, 57);
    padding: 25px;
    text-align: center;
}

main {
    background-color:rgb(240, 180, 212);
    flex: 1;
    padding: 48px 38px;
}

#sobre-mim {
    display: block;
    background-color: rgb(248, 207, 228);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    color:  rgb(158, 14, 57);
    margin-bottom: 20px;
    font-family: Delius;
}

#titulo-sobre-mim {
    font-family: Georgia;
    font-size: 25px;
    margin-bottom: 16px;
    border-bottom: 2px solid  rgb(158, 14, 57);
    margin-bottom: 25px;
    color:  rgb(158, 14, 57)
}

.texto-sobre-mim {
    font-size: 18px;
}

#meus-hobbies {
    font-family: Delius;
    background-color: rgb(248, 207, 228);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    color:  rgb(158, 14, 57);
    margin-bottom: 20px;
}


#titulo-meus-hobbies {
    font-size: 25px;
    margin-bottom: 25px;
    color:  rgb(158, 14, 57);
    font-family: Georgia;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

li {
    background-color:rgb(223, 158, 191);
    padding: 8px;
    border-left: 4px solid rgb(190, 111, 152);
    border-radius: 12px;
    font-size: 16px;
    min-width: 180px;
}

li:hover {
    background-color:rgb(204, 125, 165);
    transform: translateX(5px);
    transition: all 0.3s ease
}

#contato {
    background-color: rgb(248, 207, 228);
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 12px;
    color:  rgb(158, 14, 57);
    margin-bottom: 20px;
    font-family: Delius;
}

#contato h3 {
    margin-bottom: 8px;
    font-size: 25px;
    font-family: Georgia;
    text-align: center;
}

#contato p {
    text-align: center;
    font-size: 16px;
}

#contato a {
    color:rgb(236, 42, 142);
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem 0.4rem;
    margin: 0 0.1rem;
    border: 2px solid rgb(236, 42, 142);
    border-radius: 25px;
    display: inline-block;
    transition: all 0.3s ease;
}

#contato a:hover{
    background-color:rgb(236, 42, 142);
    color:rgb(245, 183, 217);
    transform: translateY(-2px);
}